<a href="https://colab.research.google.com/github/FGalvao77/-INTRO-EDA-Exploratory-Data-Analysis-with-SQLite-Python/blob/main/%5BINTRO%5D_EDA_(Exploratory_Data_Analysis)_with_SQLite_%26_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[INTRO] `EDA` (Exploratory Data Analysis) with _SQLite_ & _Python_**
---
---

![image.png]()

- https://www.sqlite.org/index.html

<br>

In [ ]:
# importing the library and viewing its version
import sqlite3 as sql3

print(sql3.version)

2.6.0

In [ ]:
# creating a database and initializing its connection
con = sql3.connect('my_db')

In [ ]:
# instantiating the object to connect to the database
cursor = con.cursor()

In [ ]:
# using the "cursor" object and the ".execute()" function to create the table and its respective fields
cursor.execute(
    '''
    CREATE TABLE IF NOT EXISTS personal_data(
        register_number INT NOT NULL UNIQUE PRIMARY KEY,
        first_name VARCHAR(30) NOT NULL,
        last_name VARCHAR(30) NOT NULL,
        date_birth DATE NOT NULL, 
        city VARCHAR(20),
        country VARCHAR(10) NOT NULL
    )
    '''
)

# commit
con.commit()

In [ ]:
# instantiating data in the table in the respective fields

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom'
    )
    '''
)

In [ ]:
# performing a database query command
query = cursor.execute(
    '''
    SELECT * 
    FROM personal_data
    '''
).fetchall()

In [ ]:
# viewing the query result
display(query)

[(1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom')]

In [ ]:
# instantiating new data in the table

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(2, 'Alan', 'Turing', '06/23/1912', 'London', 'United Kingdom')
    '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(3, 'Ada', 'Lovelace', '12/10/1815', 'London', 'United Kingdom')
   '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')
    '''
)

In [ ]:
# again performing a query on the table
data = cursor.execute(
    '''
    SELECT *
     FROM personal_data
    '''
).fetchall()

In [ ]:
# viewing the query result
display(data)

[(1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom'),
 (2, 'Alan', 'Turing', '06/23/1912', 'London', 'United Kingdom'),
 (3, 'Ada', 'Lovelace', '12/10/1815', 'London', 'United Kingdom'),
 (4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')]

In [ ]:
# applying a query filter on the table to return data from fields "first_name" and "last_name"
full_name = cursor.execute(
    '''
    SELECT first_name, last_name 
    FROM personal_data
    '''
).fetchall()

In [ ]:
# viewing the query result
display(full_name)

[('Tim', 'Berners-Lee'),
 ('Alan', 'Turing'),
 ('Ada', 'Lovelace'),
 ('Grace', 'Hopper')]

In [ ]:
# applying a query filter on the table to return data from all fields in the table
data = cursor.execute(
    '''
    SELECT * 
    FROM personal_data
    '''
).fetchall()

In [ ]:
# running a repeat loop to print all rows in the table 
for line in data:
    print(line)

(1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom')
(2, 'Alan', 'Turing', '06/23/1912', 'London', 'United Kingdom')
(3, 'Ada', 'Lovelace', '12/10/1815', 'London', 'United Kingdom')
(4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')

In [ ]:
# instantiating new data in the table

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(5, 'Linus', 'Torvalds', '12/28/1969', 'Helsinki', 'Finland')
    '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(6, 'Edsger', 'Dijkstra', '05/11/1930', 'Rotterdam', 'Netherlands')
    '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(7, 'Hedy', 'Lamarr', '11/09/1914', 'Vienna', 'Austria-Hungary')
    '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(8, 'Evelyn', 'Boyd Granville', '05/01/1924', 'Washington, D.C.', 'United States')
    '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(9, 'Charles', 'Babbage', '12/26/1791', 'London', 'United Kingdom')
    '''
)

## register_number, first_name, last_name, date_birth (m-d-Y), city & country
cursor.execute(
    '''
    INSERT INTO personal_data 
    VALUES(10, 'John', 'von Neumann', '10/23/2007', 'Budapest', 'Austria-Hungary')
    '''
)

In [ ]:
# performing a query command to view the name of the table(s) present in the database
table_names = cursor.execute(
    '''
    SELECT name 
    FROM sqlite_master 
    WHERE type='table'
    '''
).fetchall()

# viewing the query result
table_names

[('personal_data',)]

In [ ]:
# applying a query filter on the table to return data from all fields in the table
data = cursor.execute(
    '''
    SELECT * 
    FROM personal_data
    '''
).fetchall()

# running a repeat loop to print all rows in the table 
for line in data:
    print(line)

(1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom')
(2, 'Alan', 'Turing', '06/23/1912', 'London', 'United Kingdom')
(3, 'Ada', 'Lovelace', '12/10/1815', 'London', 'United Kingdom')
(4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')
(5, 'Linus', 'Torvalds', '12/28/1969', 'Helsinki', 'Finland')
(6, 'Edsger', 'Dijkstra', '05/11/1930', 'Rotterdam', 'Netherlands')
(7, 'Hedy', 'Lamarr', '11/09/1914', 'Vienna', 'Austria-Hungary')
(8, 'Evelyn', 'Boyd Granville', '05/01/1924', 'Washington, D.C.', 'United States')
(9, 'Charles', 'Babbage', '12/26/1791', 'London', 'United Kingdom')
(10, 'John', 'von Neumann', '10/23/2007', 'Budapest', 'Austria-Hungary')

In [ ]:
# viewing the name of the fields present in the table
colNames_Sheet1 = cursor.execute(
    '''
    SELECT * 
    FROM personal_data
    '''
)

for column in colNames_Sheet1.description:
    print(column[0])

register_number
first_name
last_name
date_birth
city
country

In [ ]:
# counting the number of records in the table through the field "register_number"
count_ID = cursor.execute(
    '''
    SELECT
    COUNT(register_number)
    FROM personal_data
    '''
).fetchall()[0]

print(f'Total records: {count_ID[0]}')

Total records: 10

In [ ]:
# counting the number of unique records in the table present in the "country" field 
# with the "DISTINCT" function
countries = cursor.execute(
    '''
    SELECT 
    DISTINCT country
    FROM personal_data
    '''
).fetchall()

countries

[('United Kingdom',),
 ('United States',),
 ('Finland',),
 ('Netherlands',),
 ('Austria-Hungary',)]

In [ ]:
# counting the number of unique records in the table present in the "country" field 
# with the "DISTINCT" function and grouping the data with the "GROUP BY" function
countries = cursor.execute(
    '''
    SELECT 
    DISTINCT *
    FROM personal_data
    GROUP BY country
    '''
).fetchall()

countries

[(7, 'Hedy', 'Lamarr', '11/09/1914', 'Vienna', 'Austria-Hungary'),
 (5, 'Linus', 'Torvalds', '12/28/1969', 'Helsinki', 'Finland'),
 (6, 'Edsger', 'Dijkstra', '05/11/1930', 'Rotterdam', 'Netherlands'),
 (1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom'),
 (4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')]

In [ ]:
# viewing the first name in the "first_name" field and returning all data from the table
firstName = cursor.execute(
    '''
    SELECT
    DISTINCT first_name
    FROM personal_data
    '''
).fetchall()

firstName

[('Tim',),
 ('Alan',),
 ('Ada',),
 ('Grace',),
 ('Linus',),
 ('Edsger',),
 ('Hedy',),
 ('Evelyn',),
 ('Charles',),
 ('John',)]

In [ ]:
# applying a filter in the "country" field where it is equal to "United States"
countriesUnique = cursor.execute(
    '''
    SELECT *
    FROM personal_data
    WHERE country = 'United States'
    '''
).fetchall()

for line in countriesUnique:
    print(line)

# countriesUnique

(4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')
(8, 'Evelyn', 'Boyd Granville', '05/01/1924', 'Washington, D.C.', 'United States')

In [ ]:
# performing the query on the table and instantiating the name of the fields in a list
colNames = cursor.execute(
    '''
    SELECT * 
    FROM personal_data
    '''
)

cols = []
for column in colNames.description:
    cols.append(column[0])

cols

['register_number', 'first_name', 'last_name', 'date_birth', 'city', 'country']

In [ ]:
# viewing table data
data = cursor.execute(
    '''
    SELECT * 
    FROM personal_data
    '''
).fetchall()

for row in data:
    print(row)

(1, 'Tim', 'Berners-Lee', '06/08/1956', 'London', 'United Kingdom')
(2, 'Alan', 'Turing', '06/23/1912', 'London', 'United Kingdom')
(3, 'Ada', 'Lovelace', '12/10/1815', 'London', 'United Kingdom')
(4, 'Grace', 'Hopper', '12/09/1906', 'New York', 'United States')
(5, 'Linus', 'Torvalds', '12/28/1969', 'Helsinki', 'Finland')
(6, 'Edsger', 'Dijkstra', '05/11/1930', 'Rotterdam', 'Netherlands')
(7, 'Hedy', 'Lamarr', '11/09/1914', 'Vienna', 'Austria-Hungary')
(8, 'Evelyn', 'Boyd Granville', '05/01/1924', 'Washington, D.C.', 'United States')
(9, 'Charles', 'Babbage', '12/26/1791', 'London', 'United Kingdom')
(10, 'John', 'von Neumann', '10/23/2007', 'Budapest', 'Austria-Hungary')

In [ ]:
# importing the library for data analysis and manipulation
import pandas as pd

In [ ]:
# using the data and the name of the table fields to create a dataframe object
df = pd.DataFrame(data=data, columns=cols)

In [ ]:
# viewing the first 5 observations of the object
df.head()

,register_number,first_name,last_name,date_birth,city,country
0,1,Tim,Berners-Lee,06/08/1956,London,United Kingdom
1,2,Alan,Turing,06/23/1912,London,United Kingdom
2,3,Ada,Lovelace,12/10/1815,London,United Kingdom
3,4,Grace,Hopper,12/09/1906,New York,United States
4,5,Linus,Torvalds,12/28/1969,Helsinki,Finland

In [ ]:
# viewing all observations present in the object
df

,register_number,first_name,last_name,date_birth,city,country
0,1,Tim,Berners-Lee,06/08/1956,London,United Kingdom
1,2,Alan,Turing,06/23/1912,London,United Kingdom
2,3,Ada,Lovelace,12/10/1815,London,United Kingdom
3,4,Grace,Hopper,12/09/1906,New York,United States
4,5,Linus,Torvalds,12/28/1969,Helsinki,Finland
5,6,Edsger,Dijkstra,05/11/1930,Rotterdam,Netherlands
6,7,Hedy,Lamarr,11/09/1914,Vienna,Austria-Hungary
7,8,Evelyn,Boyd Granville,05/01/1924,"Washington, D.C.",United States
8,9,Charles,Babbage,12/26/1791,London,United Kingdom
9,10,John,von Neumann,10/23/2007,Budapest,Austria-Hungary

In [ ]:
# general object information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   register_number  10 non-null     int64
 1   first_name       10 non-null     object
 2   last_name        10 non-null     object
 3   date_birth       10 non-null     object
 4   city             10 non-null     object
 5   country          10 non-null     object
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

In [ ]:
# importing the library to provide math features
import numpy as np

In [ ]:
# viewing column names
df.columns

Index(['register_number', 'first_name', 'last_name', 'date_birth', 'city',
       'country'],
      dtype='object')

In [ ]:
# viewing the data type in each column
df.dtypes

register_number     int64
first_name         object
last_name          object
date_birth         object
city               object
country            object
dtype: object

In [ ]:
# refactoring the data type in each column
# creating a dictionary with the respective columns and defining the value of interest for each attribute
datatypes_per_column = {
    'register_number': np.int32,
    'first_name': 'string',
    'last_name': 'string',
    'date_birth': 'datetime64[ms]',
    'city': 'string',
    'country': 'string'
}

# overriding the dataset and redefining the datatype on each attribute with the above dictionary
df = df.astype(datatypes_per_column)

In [ ]:
# viewing all observations present in the object
df

,register_number,first_name,last_name,date_birth,city,country
0,1,Tim,Berners-Lee,1956-06-08,London,United Kingdom
1,2,Alan,Turing,1912-06-23,London,United Kingdom
2,3,Ada,Lovelace,1815-12-10,London,United Kingdom
3,4,Grace,Hopper,1906-12-09,New York,United States
4,5,Linus,Torvalds,1969-12-28,Helsinki,Finland
5,6,Edsger,Dijkstra,1930-05-11,Rotterdam,Netherlands
6,7,Hedy,Lamarr,1914-11-09,Vienna,Austria-Hungary
7,8,Evelyn,Boyd Granville,1924-05-01,"Washington, D.C.",United States
8,9,Charles,Babbage,1791-12-26,London,United Kingdom
9,10,John,von Neumann,2007-10-23,Budapest,Austria-Hungary

In [ ]:
# if you want to eliminate the "register_number" column, uncomment the line of code
# df = df.drop(labels='register_number', axis=1)

In [ ]:
# general object information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   register_number  10 non-null     int32
 1   first_name       10 non-null     string
 2   last_name        10 non-null     string
 3   date_birth       10 non-null     datetime64[ns]
 4   city             10 non-null     string
 5   country          10 non-null     string
dtypes: datetime64[ns](1), int32(1), string(4)
memory usage: 568.0 bytes

In [ ]:
# viewing the variables present in the environment
%whos

Variable               Type          Data/Info
----------------------------------------------
colNames               Cursor        <sqlite3.Cursor object at 0x7f8d9bfd5500>
colNames_Sheet1        Cursor        <sqlite3.Cursor object at 0x7f8d9bfd5500>
cols                   list          n=6
column                 tuple         n=7
con                    Connection    <sqlite3.Connection object at 0x7f8dbab475d0>
count_ID               tuple         n=1
countries              list          n=5
countriesUnique        list          n=2
cursor                 Cursor        <sqlite3.Cursor object at 0x7f8d9bfd5500>
data                   list          n=10
datatypes_per_column   dict          n=6
df                     DataFrame        register_number first_<...>m  \n9  Austria-Hungary
firstName              list          n=10
full_name              list          n=4
line                   tuple         n=6
np                     module        <module 'numpy' from '/us<...>kages/numpy/__init__.py'>
pd                     module        <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
query                  list          n=1
row                    tuple         n=6
sql3                   module        <module 'sqlite3' from '/<...>3.8/sqlite3/__init__.py'>
table_names            list          n=1

In [ ]:
# viewing the variables present in the environment in list form
%who_ls

['colNames',
 'colNames_Sheet1',
 'cols',
 'column',
 'con',
 'count_ID',
 'countries',
 'countriesUnique',
 'cursor',
 'data',
 'datatypes_per_column',
 'df',
 'firstName',
 'full_name',
 'line',
 'np',
 'pd',
 'query',
 'row',
 'sql3',
 'table_names']